n8n/workflow.json
{
  "name": "ReviewPocketShorts - Daily Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 10am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Fires every day at 10:00 AM (server timezone). Adjust as needed."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8765/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.RPS_WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "trigger-pipeline",
      "name": "Trigger Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "notes": "Fires the webhook on the host. Returns 202 immediately — pipeline runs in background."
    },
    {
      "parameters": {
        "amount": 90,
        "unit": "seconds"
      },
      "id": "wait-for-pipeline",
      "name": "Wait 90s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "Give the pipeline time to run (~45-60s typical). Adjust if needed."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8765/status",
        "options": {}
      },
      "id": "poll-status",
      "name": "Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "still-running",
              "leftValue": "={{ $json.running }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "still-running",
      "name": "Still Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300],
      "notes": "If still running, wait another 60s and poll again."
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-more",
      "name": "Wait 60s More",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1100, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.last_result.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json.last_result || {};\nconst p = r.product || {};\nconst lines = [\n  '✅ *ReviewPocketShorts posted!*',\n  '',\n  `📦 *${p.title || 'Unknown Product'}*`,\n  `💰 ${p.price || ''}   ⭐ ${p.rating || 'N/A'}/5`,\n  '',\n  `🎬 YouTube: ${r.youtube_url || 'N/A'}`,\n  `📸 Instagram: ${r.instagram_permalink || 'N/A'}`,\n  '',\n  `🛒 Affiliate: ${p.affiliate_url || 'N/A'}`,\n];\nreturn [{ json: { message: lines.join('\\n') } }];"
      },
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json.last_result || {};\nreturn [{ json: { message: `❌ *ReviewPocketShorts FAILED*\\n\\nError: ${r.error || 'Unknown'}\\n\\nCheck: /opt/ReviewPocketShorts/logs/` } }];"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-error",
      "name": "Notify Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1760, 400]
    }
  ],
  "connections": {
    "Daily 10am Trigger": {
      "main": [[{ "node": "Trigger Pipeline", "type": "main", "index": 0 }]]
    },
    "Trigger Pipeline": {
      "main": [[{ "node": "Wait 90s", "type": "main", "index": 0 }]]
    },
    "Wait 90s": {
      "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]]
    },
    "Poll Status": {
      "main": [[{ "node": "Still Running?", "type": "main", "index": 0 }]]
    },
    "Still Running?": {
      "main": [
        [{ "node": "Wait 60s More", "type": "main", "index": 0 }],
        [{ "node": "Success?", "type": "main", "index": 0 }]
      ]
    },
    "Wait 60s More": {
      "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]]
    },
    "Success?": {
      "main": [
        [{ "node": "Format Success", "type": "main", "index": 0 }],
        [{ "node": "Format Error", "type": "main", "index": 0 }]
      ]
    },
    "Format Success": {
      "main": [[{ "node": "Notify Success", "type": "main", "index": 0 }]]
    },
    "Format Error": {
      "main": [[{ "node": "Notify Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["review-pocket-shorts", "automation"],
  "triggerCount": 1
}
